/* Reset */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #fff;
  color: #111;
  /* padding: 40px 60px; */
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  gap: 24px;
}

.logo img {
  height: 48px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 28px;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  font-size: 16px;
  padding: 6px 4px;
  transition: color 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: #45c300;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.donate-btn {
  background-color: #85e135;
  padding: 12px 36px;
  border-radius: 6px;
  color: #111;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}

.donate-btn:hover {
  background-color: #76cb2f;
}

.nav-right {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.search-box i {
  font-size: 16px;
  color: #333;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #555;
  padding: 5px;
}

.publications-page{
    padding: 40px 60px;
}

/* Publications */
.publications-header h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.article-card {
  display: flex;
  flex-direction: column;
}

.article-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.tags {
  font-size: 14px;
  color: #1a8f00;
  margin-top: 10px;
}

.article-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.excerpt {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.meta {
  font-size: 13px;
  color: #777;
}

/* Pagination */
.pagination {
  margin-top: 50px;
  text-align: center;
}

.page-link {
  display: inline-block;
  margin: 0 6px;
  padding: 8px 14px;
  border: 1px solid #ccc;
  color: #111;
  text-decoration: none;
}

.page-link.active {
  background-color: #45c300;
  color: white;
  border: none;
}

.dots {
  color: #777;
}
.footer {
  background-color: rgb(29, 63, 12);
  color: #f0f0f0;
  padding: 100px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 80px;
}
.country-divider{
  border: none;
  border-top: 1px solid #ccc;
  margin: 30px 0 20px 0;
}
.footer-column {
  flex: 1 1 180px;
  min-width: 150px;
  gap:90px;
}

.footer-country .country-wrapper {
  display: flex;
  align-items: center;
  padding:50px;
  
}

.footer-logo {
  width: 24px;
  height: auto;
}

.country-select {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 30px;
  
}

.footer-column ul li a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social {
  min-width: 140px;
}

.social p {
  margin-bottom: 10px;
  font-size: 16px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  color: white;
  font-size: 18px;
}

.footer-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 30px 0 20px 0;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #ccc;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: underline;
}
